<p id="notice"><%= notice %></p>

<h1>City Universities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_universities.each do |city_university| %>
      <tr>
        <td><%= link_to 'Show', city_university %></td>
        <td><%= link_to 'Edit', edit_city_university_path(city_university) %></td>
        <td><%= link_to 'Destroy', city_university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City University', new_city_university_path %>
