<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>Nome:</td>
    <td><%= @student.nome %></td>
  </tr>

  <tr>
    <td>CPF</td>
    <td><%= @student.cpf %></td>
  </tr>

  <tr>
    <td>Telefone</td>
    <td><%= @student.telefone %></td>
  </tr>

  <tr>
    <td>Univ origem:</td>
    <td><%= @student.univ_origem %></td>
  </tr>

  <tr>
    <td>Cidade</td>
    <td><%= @student.cidade %></td>
  </tr>

  <tr>
    <td>País</td>
    <td><%= @student.pais %></td>
  </tr>

  <tr>
    <td>Endereço</td>
    <td><%= @student.endereco %></td>
  </tr>
</table>
