<p id="notice"><%= notice %></p>

<div id="titulo" class="page-header">
  Lista de Idiomas
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.id %></td>
        <td><%= language.nome %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="link_centro">
<%= link_to image_tag("linguagem.png",:title => 'Cadastrar idioma',size: "50"), new_language_path %>
</div>

<br>
<%= will_paginate @vehicles %> <!-- Fazer paginação -->
<br>