<p id="notice"><%= notice %></p>

<div id="titulo" class="page-header">
  Busca Personalizada:
</div>

<%= search_form_for @q, url: schedules_busca_personalizada_path do |f| %>
  <table align="center">
    <tr>
      <td>
        <%= f.label 'Cursos:' %>
        <%= text_field_tag :busca_curso %>
        <%# f.collection_select(:course_id, Course.all, :id, :nome) %>
      </td>
    </tr>

    <tr>
    </tr>

    <tr>
		<td>
    		<br>
    		<%= f.submit 'Buscar' %>
  		</td>
    </tr>

  </table>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |c_uni| %>
      <tr>
        <td><%= c_uni.id %></td>
        <td><%= c_uni.course.nome %></td>
        <td><%= c_uni.university.nome %></td>
        <td><%= link_to 'Show', course_university %></td>
        <td><%= link_to 'Edit', edit_course_university_path(course_university) %></td>
      </tr>
    <% end %>
  </tbody>
</table>